/* header style  */

header .header-top {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-top .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

header .header-top .logo span {
    color: var(--green);
}

header .header-top .social-media {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
header .header-top .social-media i {
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 50%;

}
header .header-top .social-media i:hover{
    background: var(--green);
    border: none;
    color: #fff;
}
.head-icons {
    display: flex;
    align-items: center;
}

.head-icons .cart {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: var(--black);
    cursor: pointer;
}
.head-icons .cart:hover {
    color: var(--green);
}

.cart-shop {
    position: relative;
}

span.count {
    position: absolute;
    top: -15px;
    right: 0px;
    padding: 2px 5px;
    background: #c50000;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
}

span.count {
    position: absolute;
    top: -15px;
    right: 0px;
    background: red;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    width: 16px;
    height: 16px;
    text-align: center;
}

.header-nav {
    background: var(--green);
}
.header-nav .navbar {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav .navbar a {
    color: #fff;
    padding: 1.2rem;
    font-size: 1rem;
}
.header-nav .navbar a:hover {
    background: var(--dark-color);
}
nav.navbar.navbar-bottom {
    background: var(--green);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    display: none;
}

.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


/* filter style  */


/* product style  */


/* addproduct style  */


/* about style  */
.about {
    padding: 1.5rem 9%;
    display: flex;
    align-items: flex-start;
}

.about marquee {
    margin-top: 2rem;
}

.about img {
    width: 50%;
    height: auto;
}

.about .about-content {
    padding-left: 40px;
}



/* start cart page */
.cart {
    padding: 1.5rem 9%;
}
.cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.cart table img {
    width: 70px;
}

.cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

.cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

.cart table thead {
    border: 1px solid #e2e9e1;
    background: var(--black);
    color: #fff;
}

.cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

.cart table tbody tr td {
    padding-top: 15px;
}

/* footer style  */
.footer {
    padding: 1.5rem 9%;
}
.footer .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1.5rem;
}

.footer .boxes .box h3 {
    font-size: 1.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .boxes .box a {
    display: block;
    font-size: 1rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.footer .boxes .box a  i {
    color: var(--green);
    padding-right: .5rem;
}
.footer .boxes .box a:hover i {
    color: var(--green);
    padding-right: 1rem;
}
.footer .boxes .box .map{
    width: 100%;
}

.footer .shear {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .shear i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    background: var(--green);
    margin: 0 0.3rem;
    border-radius: 50%;
    cursor: pointer;
}
.footer .shear i:hover {
    background: var(--black);
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: var(--light-color);
    text-align: center;
}
.footer .credit span {
    color: var(--green);
}

/* media query responsive */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header-top {
        padding: 2rem;
    }
    .social-media {
        display: none;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 5px 10px;
        font-size: 12px;
    }
    .header-nav {
        font-size: 50%;
        position: relative;
    }
    .header-nav .navbar {
        display: none;
    }
    nav.navbar.navbar-bottom {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10000;
    }
    .footer .shear i {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}